{% extends "meus_templates/base.html" %}
{% load static %}

{% block title %}Contato - Portfólio{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <header class="text-center mb-5">
        <h2 class="fw-bold titulo-secao">Contato</h2>
    </header>

    <p class="mb-4 text-center">Entre em contato para mais informações:</p>

    <ul class="list-group contato-list">
        <li class="list-group-item">
            📧 Email: <a href="mailto:ismaellima7.if@gmail.com">ismaellima7.if@gmail.com</a>
        </li>
        <li class="list-group-item">
            💼 GitHub: <a href="https://github.com/ismaellima7" target="_blank">github.com/ismaellima7</a>
        </li>
        <li class="list-group-item">
            🌐 LinkedIn: <a href="https://www.linkedin.com/in/ismael-lima-505bba331" target="_blank">linkedin.com/in/ismaellima</a>
        </li>
        <li class="list-group-item">
            📱 WhatsApp: <a href="#" target="_blank">+55 74 98131-9531</a>
        </li>
    </ul>
</div>
{% endblock %}
