{% extends "meus_templates/base.html" %}
{% load static %}

{% block title %}Sobre - Portfólio{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <header class="text-center mb-5">
        <h2 class="fw-bold titulo-secao">Sobre Mim</h2>
    </header>

    <section class="sobre-texto">
        <p>
            Meu nome é <strong>Ismael Lima</strong>, tenho 21 anos, atualmente, recem formado no Curso Técnico em Informática no Instituto Federal de Educação Ciência e Tecnologia Baiano - <i>Campus</i> Senhor do Bonfim.  
            Este Portfólio tem como objetivo relatar o percurso de aprendizado durante o estágio supervisionado em <strong>Desenvolvimento de Software</strong>, evidenciando conhecimentos adquiridos em <strong>CRUD</strong>, <strong>Django</strong>, <strong>Git</strong> e <strong>GitHub</strong>.
        </p>

        <p>
            Possuo conhecimento em linguagem de programação <strong>Python</strong>,  
            bem como, linguagens de marcação e estilização, incluindo <strong>HTML</strong> e <strong>CSS</strong>.  
            Também faço o uso de ferramentas de desenvolvimento como <strong>Git</strong>, <strong>GitHub</strong> e bancos de dados relacionais,  
            aplicando boas práticas de versionamento e organização de código.
        </p>

        <p>
            Este espaço apresenta um registro consistente do meu desenvolvimento técnico e acadêmico ao longo da formação.  
            Abordando áreas nas quais venho investindo continuamente na aquisição de conhecimentos e no aprimoramento de competências,  
            com o objetivo de consolidar minha trajetória profissional.
        </p>  
    </section>
</div>
{% endblock %}
